@forward "globals";
@use "utils/mixins" as *;

body {
  @include flex-center(column, 0);
}
header {
  @include flex-center();
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;

  button {
    border: none;
    background: transparent;
  }

  img {
    width: 2rem;
  }

  .menu {
    &__hamburger-button {
    }

    &__off-screen {
      position: fixed;
      inset: 0;
      @include flex-center(column);
      background-color: var(--secondary-background-color);
      transform: translate(100%, -100%);
      transition: transform 0.3s ease;

      &__close-button {
        position: fixed;
        top: 1rem;
        right: auto;
      }

      &__links {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 4rem;

        :nth-child(1) {
          button {
            @include image-inside-text();
          }
        }

        :nth-child(2) {
          button {
            @include image-inside-text("../img/48.jpg");
          }
        }

        :nth-child(3) {
          button {
            @include image-inside-text("../img/27.jpg");
          }
        }

        :nth-child(4) {
          button {
            @include image-inside-text("../img/37.jpg");
          }
        }

        &__link-item {
          margin-bottom: 0.5rem;
          border-radius: var(--border-radius);
          padding-inline: 0.5rem;

          &:hover {
            background-color: var(--hoover-color);
          }
          button {
            all: unset;
            font-weight: 900;
          }
          &--active {
            background-color: var(--button-active);
            border-radius: var(--border-radius);
          }
        }
      }
    }
  }

  .open {
    .menu__off-screen {
      transform: translate(0, 0);
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  figure {
    @include flex-center(column);
    background-color: var(--background-color);
    padding: var(--base-padding);
    border-radius: var(--border-radius);
    width: 80%;

    img {
      display: block;
      width: 80%;
      border-radius: var(--border-radius);
    }
  }
}
