@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin image-inside-text($url: "../../img/3.jpg") {
  background-image: url($url);
  background-size: contain;
  background-clip: text;
}

@mixin reset-image-inside-text() {
  background-image: none;
  color: black;
  font-size: 2rem;
}
