:root {
  --background-color: hsl(0, 0%, 100%);
  --secondary-background-color: hsla(0, 6%, 87%, 0.979);
  --text-color: hsl(0, 0%, 11%);
  --hoover-color: hsl(210, 2%, 79%);
  --button-active: hsl(210, 1%, 71%);
}
